:root{
    --top_btn_move: 50%;
    --left_btn_move: 50%;
    --background_btn: white;
    --color_btn: black;
  }
  
  *, ::before, ::after {
    padding: 0;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  html, body{
    height: 100%;
  }
  
  h1{
    text-align: center;
    margin-top: 2rem;
  }
  
  h2{
    text-align: center;
  }
  
  /* buttons ----------------------------------------------- */
  .btn{
    padding: 1rem;
    font-weight: bold;
    background-color: var(--background_btn);
    color: var(--color_btn);
  }
  
  #btn-move{
    position: absolute;
    top: var(--top_btn_move);
    left: var(--left_btn_move);
    transform: translate(-50%, -50%);
    transition: 0.2s ease-out;
  }
  
  #btn-move:hover{
    transform: translate(var(--top_btn_move), var(--top_left_move));
    cursor: pointer;
  }
  
  #surr{
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .surr:hover{
    cursor: pointer;
  }
  
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }